.carousel-item {
  height: 500px;

  &__img {
    background-size: contain;
    height: 100%;
    border: rounded;
    object-fit: cover;
  }
  }


@media screen and (max-height: 500px) {
  .carousel-item {
    height: 300px;
  }
    
  }